body {
	background-color: #ffffff;
}

html {
	padding: 0;
	margin: 0;
	position: relative;
	min-height: 100%;
}

.nav-link {
	font-size: 15px;
	color: #b0b6b5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar-light .navbar-brand {
	font-size: 30px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;	
}

.navbar-light .navbar-brand:hover {
	color: #4aaaa5;
}

a:hover {
	color: #4aaaa5;
}

#link {
	color: #ffffff;
}

#link:hover {
	color: #ffffff;
}

.itemportfolio {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

#headings {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	border-bottom: 2px solid #b0b6b5;
}

#github, #linkedin, #stackoverflow {
	width: 70px;
	height: 70px;
	display: inline-block;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
 }

#footer {
 	color: #a9aaab;
 	text-align: center;
 	font-size: 15px;
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

 #main {
 	overflow: scroll;
 }


 .card-img-top {
 	height: 150px;
 }
 .card-body {
 	background-color: #4aaaa5;
 }
 .card-title {
 	color: #ffffff;
 	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;

 }

 .section {
 	overflow: scroll;
 }

 .btn-primary {
 	background-color: #4aaaa5;
 	border-color: #4aaaa5;
 }

  .btn-primary:hover {
  	background-color: #4aaaa5;
 	border-color: #4aaaa5;
 }

 label, .form-control {
 	color: #a9aaab;
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }
